{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {{ encore_entry_link_tags('app') }}
    <div class="konina-test">
<div id="app">
    {% block content %}{% endblock %}
</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
